{{define "edit"}}
{{template "header" .}}

    <h1>Editing {{.Title}}</h1>

    <form role="form" action="/save/{{.Title}}" method="POST">
      <div class="form-group col-md-12">
        <textarea name="body" class="form-control" rows="8">{{.Body}}</textarea>
      </div>
      <div class="form-group col-md-12">
        <input name="description" class="form-control" type="text" placeholder="Update {{.Title}}">
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </form>

{{template "footer"}}
{{end}}
