{{define "history"}}
{{template "header" .}}

    <h1>Revision history for {{.Title}}</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Object</th>
          <th>Description</th>
          <th>Author</th>
          <th>Timestamp</th>
        </thead>
        <tbody>
        {{range .Revisions}}
          <tr>
            <td><a href="/view/{{.Title}}?revision={{.Object}}">{{.Object}}</td>
            <td>{{.Description}}</td>
            <td>{{.Author.Name}}</td>
            <td>{{.Timestamp}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
    </div>

{{template "footer"}}
{{end}}
